<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="main.js" stopProcessing="true">
                    <match url="ux/(.*)/release/app/scripts/main-\d+.min.js" />
                    <action type="Rewrite" url="{R:1}/app/main.asp" />
                </rule>
                <rule name="min" stopProcessing="true">
                    <match url="ux/(.*)/(release|hotfix)/app/(.*)\-\d+(\.min)?(\.js|\.css)$" />
                    <action type="Rewrite" url="{R:1}/app/{R:3}{R:5}" />
                </rule>
                <rule name="ux" stopProcessing="true">
                    <match url="ux/(.*)/release/app/(.*)" />
                    <action type="Rewrite" url="{R:1}/app/{R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>