<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="todo">

    </div>
    <script type="text/template" id="item-template">
        <div>
            <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>
            <%- title %>
        </div>
    </script>
    <script src="../lib/jquery-3.3.1.js"></script>
    <script src="../lib/underscore.js"></script>
    <script src="../lib/backbone.js"></script>
    <script src="demo.js"></script>
</body>
</html>